doctype html
html(lang="en")
    <!-- psst, the secret code is "open sesame" -->
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Open Secrets
        block code
        link(rel="stylesheet" type="text/css" href="style.css")
    body
        header
            div(class="container")
                h1 OpenSecrets
                nav 
                    if !currentUser
                        a(href='/login') Login
                        a(href='/signup') Signup
                    else 
                        a(href='/logout') Logout
        main
            div(class="container")
                block content
        footer
            div(class="container")
                p lunstia &copy; 2023
            