doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        header
            h1 OpenSecrets
            nav 
            if currentUser
                button Login
                button Signup
            else 
                button Logout 
        block content
        footer 
            p lunstia &copy; 2023
            