extends layout 

block content 
    block content
    h2 Welcome, sign up here!
    form(action='' method='POST')
        label(for='username') Username:
        input(type='text' placeholder='Username' minLength=1 required)
        label(for='password') Password: 
        input(type='password' required)
        label(for='Confirm password') Password: 
        input(type='password' required)
        button(type='submit') Login